* {
    margin: 0;
    padding: 0;
    border: none;
}

html,
body {
    overflow-x: hidden;
    overflow-y: auto;
}

/* header and logo */
header {
    width: 100%;
    height: 80px;
    background-color: black;
    border-bottom: 1px solid black;
    position: fixed;
    top: 0;
    opacity: 0.8;
    z-index: 1;

}

#logo {
    float: left;
    margin-left: 20px;
    line-height: 80px;
}

#logo h2 {
    color: white;

}

/* navigation menu */
#nav {
    float: right;
    line-height: 80px;
    margin-right: 20px;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav li {
    font-size: 1.2em;
    margin: 0 0.5em;
    display: inline-block;
}

nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

nav a:hover {
    text-decoration: underline;
}

/* hero section */
#hero {
    height: 600px;
    width: 100%;
    background: url(../images/hero.jpg) center /cover no-repeat;
}

/* info boxes section */
#info-boxes-section {
    width: 100%;
    height: auto;
    margin-bottom: 150px;
}

.flex-info-box-container {
    width: 100%;
    height: auto;
    display: flex;
}

#info-boxes-section h2 {
    text-align: center;
    font-size: 300%;
    color: black;
    margin: 50px;


}

.info-box {
    width: 33%;
    height: 400px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 1px 1px 17px 2px #dddedb;
    margin: 15px;
}

.info-box-icon {
    width: 70px;
    height: 70px;
    margin: 30px 30%;
}

/* links boxes section */
#links-boxes-section {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

.links-box {
    width: 50%;
    height: 500px;
    position: relative;
}

.links-box h2 {
    position: absolute;
    top: 40%;
    left: 10%;
    right: 10%;
    text-align: center;
    color: white;
    font-size: 400%;
}

.links-box h2:hover {
    transform: scale(1.1);
    transition: transform 0.3s;
}


#links-box-facilites {

    background: url(../images/left_linkbox_bg.jpg) center / cover no-repeat;
}

#links-box-booking {
    background: url(../images/right-linkbox_bg.jpg) center / cover no-repeat;
}

/* facilities page */

#facilities {
    padding-top: 100px;
    width: 100%;
    height: auto;
    background-color: whitesmoke;

}

.grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 10px;
    padding-bottom: 100px;
}

.grid-item {
    border: none;
    font-size: 15px;
    text-align: center;
    height: 400px;
    box-sizing: border-box;
    margin: 10px;
    padding: 20px;

}

#grid-item-clubhouse {
    background: url(../images/clubhouse.jpeg) center / cover no-repeat;
}

#grid-item-proshop {
    background: url(../images/proshop.jpeg) center / cover no-repeat;
}

#grid-item-restaurant {
    background: url(../images/restaurant.jpeg) center / cover no-repeat;

}

/* booking page */

#form-section {
    width: 100%;
    height: 800px;
    padding-top: 200px;
    background: url(../images/bookingbg.jpg) center / cover no-repeat;
}

fieldset {
    border-radius: 30px;
    border: none;
    width: 400px;
    height: 600px;
    margin: 0 auto;
    background-color: #333;
    opacity: 0.9;
    padding: 50px;
    color: rgb(207, 176, 19);
}

input,
select {
    margin: 5px 0 30px;
    display: block;
    width: 90%;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 4px;
    background-color: #f1f1f1;
    font-size: 1em;
}

input[type=submit] {
    font-size: 1.5em;
    padding: 7px;
    background-color: rgb(207, 176, 19);
    color: #f1f1f1;

}

input[type=submit]:hover {
    background-color: #bfa614;
    color: #333;
}

input[type=submit]:active {
    background-color: rgb(207, 176, 19);
    color: #f1f1f1;
}

/* Footer */
footer {
    width: 100%;
    height: 200px;
    background-color: #333;
    padding: 20px;
    clear: both;
}

@media screen and (max-width: 900px) {

    .grid-container {
        grid-template-columns: 100%;

    }

    #grid-item-clubhouse {
        order: -1;
    }

    #restaurant-div {
        order: 3;
    }

    .links-box {
        width: 100%;
    }

    @media screen and (max-width: 780px) {
        .flex-info-box-container {
            width: 90%;
            flex-direction: column;
            padding-left: 5%;
        }
        .info-box{
            width: 75%;
            margin: 0 auto 30px;
        
        }
    }
}