@import url('https://fonts.googleapis.com/css2?family=Charm&family=Handlee&family=Kalam:wght@300&display=swap');

/* sets default values */
* {
    margin: 0;
    padding: 0;
    border: none;
}

html,
body {
    overflow-x: hidden;
    overflow-y: auto;
    font-family: 'kalam', cursive;
}

a,
h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1,
h2 {
    font-family: 'charm', cursive;
    color: #6E6434;
}

/* header and logo */
header {
    width: 100%;
    height: 60px;
    background-color: black;
    position: fixed;
    top: 0;
    opacity: 0.8;
    z-index: 2;
}

#logo-navbar-container {
    max-width: 1300px;
    margin: 0 auto;
}

#logo {
    float: left;
    margin-left: 20px;
    line-height: 60px;
    letter-spacing: 0.1em;
}

#logo h1 {
    font-size: 2.2em;
    color: #DBCE8C;
}

#logo a {
    text-decoration: none;
}

/* navigation menu */
#navbar {
    float: right;
    line-height: 60px;
    margin-right: 20px;
}

#navbar ul {
    list-style: none;
    text-align: center;
}

#navbar li {
    font-size: 0.9em;
    margin: 0 0.5em;
    display: inline-block;
    text-transform: uppercase;
}

#navbar a {
    text-decoration: none;
    color: whitesmoke;
    letter-spacing: 2px;
    letter-spacing: 0.3em;
}

#navbar a:hover {
    border-bottom: 1px solid whitesmoke;
}

.navactive {
    border-bottom: 1px solid whitesmoke;
}

/* wrapper */
#wrapper {
    max-width: 1300px;
    margin: 0 auto;
}

/* hero section */
#hero {
    height: 600px;
    width: 100%;
    background: url(../images/hero.jpg) center /cover no-repeat;
}

/* info boxes section */
#info-boxes-section p {
    text-align: center;
    margin-top: 30px;
    font-size: 0.9em;
    text-transform: uppercase;
    letter-spacing: 0.4em;
    font-family: Arial, Helvetica, sans-serif;
    color: #6E6434;
}

hr {
    width: 70%;
    border-top: 1px dotted #6E6434;
    margin: 0 auto 25px;
}

#info-boxes-section {
    width: 100%;
    height: auto;
    margin-bottom: 60px;
}


.flex-info-box-container {
    width: 100%;
    height: auto;
    display: flex;
}

#info-boxes-section h2 {
    text-align: center;
    font-size: 300%;
    margin: 0 0 20px;
}

.info-box {
    width: 33%;
    height: auto;
    background-color: white;
    border-radius: 15px;
    box-shadow: 1px 1px 17px 2px #dddedb;
    margin: 15px;
    overflow: hidden;
    padding-bottom: 10px;
}

.info-box-cover {
    width: 100%;
    height: 60%;
}

.info-box-img {
    width: 100%;
    height: 100%;
}

.info-box-list {
    padding: 5%;
    font-size: 1.3em;
    text-align: center;
    color: #6E6434
}

.info-box li {
    margin: 5%;
    list-style: none;
}

#info-section-bottom-hr {
    width: 70%;
    border-top: 1px dotted #6E6434;
    margin: 50px auto 0;
}

/* links boxes section */
#links-boxes-section {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 100px;
    overflow: hidden;
}

.links-box {
    width: 50%;
    height: 400px;
    position: relative;
}
#links-box-left {
   background: url(../images/left_linkbox_bg.jpg) center / cover no-repeat;

}
#links-box-right {
background: url(../images/right-linkbox_bg.jpg) center / cover no-repeat;
}

.links-box h3 {
    position: absolute;
    top: 40%;
    left: 10%;
    right: 10%;
    text-align: center;
    color: white;
    font-size: 300%;
    font-style: italic;
}

.links-box:hover {
    transform: scale(1.1);
    transition: transform 0.3s;
}

/* facilities page */

#facilities {
    padding-top: 100px;
    width: 100%;
    height: auto;
    background-color: whitesmoke;
}

.grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 10px;
    padding-bottom: 100px;
}

.grid-item {
    font-size: 1.25em;
    text-align: center;
    box-sizing: border-box;
    margin: 10px;
    padding: 20px;
}

#grid-item-clubhouse {
    background: url(../images/clubhouse.jpeg) center / cover no-repeat;
    height: 400px;
}

#grid-item-restaurant {
    background: url(../images/restaurant.jpeg) center / cover no-repeat;
    height: 400px;
}

#grid-item-proshop {
    background: url(../images/proshop.jpeg) center / cover no-repeat;
    height: 400px;
}

/* booking page */

#form-section {
    width: 100%;
    height: 800px;
    padding-top: 200px;
    background: url(../images/bookingbg.jpg) center / cover no-repeat fixed;
}

#form-container {
    border-radius: 30px;
    width: 50%;
    margin: 0 auto;
    height: 600px;
    background-color: black;
    opacity: 0.7;
}

form {
    color: white;
    text-transform: uppercase;
    font-size: 0.85em;
    font-family: Arial, Helvetica, sans-serif;
}

fieldset {
    margin: 0 60px 0 40px;
}

legend {
    color: #DBCE8C;
    margin: 20px 0;
    text-align: center;
    font-size: 1.5em;
    padding-top: 20px;
}

input,
select {
    margin: 5px 0 20px;
    border: 1px solid #DBCE8C;
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    font-size: 1em;
    background: transparent;
    color: whitesmoke;
    box-sizing: border-box;
}

input[type=submit] {
    font-size: 1.5em;
    padding: 10px;
    background-color: #DBCE8C;
    color: #333;
}

input[type=submit]:hover {
    background-color: #bfa614;
    color: #f1f1f1;
}

input[type=submit]:active {
    background-color: #DBCE8C;
    color: #333;
}

/* Footer */
footer {
    height: auto;
    background-color: #1F1F1F;
}

.contact {
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    color: #BEB279;
    font-size: 1.3em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.contact span {
    font-size: 0.9em;
}

#social-links {
    margin: 0 auto;
    text-align: center;
}

#social-links li {
    margin: 4%;
    list-style: none;
    display: inline-block;
}

#social-links i {
    font-size: 1.5em;
    color: #BEB279;
}

@media screen and (max-width: 900px) {
    .info-box-cover {
        width: 100%;
        height: 50%;
    }

    .links-box {
        width: 100%;
        height: 200px;
        opacity: 0.8;
    }
    .links-box:hover {
        transform: none;
        opacity: 1;
    }

    .grid-container {
        grid-template-columns: 100%;
    }

    #grid-item-clubhouse {
        order: -1;
    }

    #proshop-div {
        order: 3;
    }

    #form-container {
        width: 60%;
    }

    @media screen and (max-width: 780px) {

        #navbar {
            float: left;
            clear: left;
            line-height: 20px;
            margin: 0 0 20px 10px;
        }

        header {
            height: 110px;
        }

        hr {
            width: 60%;
        }

        .flex-info-box-container {
            width: 90%;
            flex-direction: column;
            padding-left: 5%;
        }

        .info-box {
            width: 75%;
            margin: 0 auto 30px;
        }


        .info-box-cover {
            width: 100%;
            height: 65%;
        }
        .links-box h3 {
            font-size: 250%;
        }

        #form-container {
            width: 80%;
        }
    }
}